{% extends "Drive/base.html" %} 
{% load static %} 

{% block css_files %} 

{% endblock %} 
{% block page_title %} Files {% endblock %} 

{% block content %}
    <div id="wrapper">
        
        {% include "partials/_sidebar.html" %}
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                
                {% include "partials/_topbar.html" %}
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">{% comment "" %}Üst Bölüm Başlangıç{% endcomment %}
                            <div class="cover-pic">
                                <!--<div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-4 love-box">
                                    <h6 class="text-gray-900 mb-0 font-weight-bold"><i class="fas fa-heart text-danger"></i> 50%</h6>
                                    <small class="text-muted">8,784</small>
                                </div>-->
                                <img src="{% static "Drive/img/Sakarya_University_banner.jpg" %}" class="img-fluid" alt="...">
                            </div>
                        </div>{% comment "" %}Üst Bölüm Bitiş{% endcomment %}

                        <div class="col-xl-3 col-lg-3">{% comment "" %}Sol Bölüm Başlangıç{% endcomment %}
                            <div class="bg-white p-3 widget shadow rounded mb-4">
                                <img src="{{file.file_cover.url}}" class="img-fluid rounded" alt="...">
                                <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">Yazan</h1>
                                <p>{{ file.outhor }}</p>
                                <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">Yükleyen</h1>
                                <p>{{ file.user }}</p>
                                <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">Üniverite</h1>
                                <p>{{ file.scholl }}</p>
                                <h1 class="h6 mb-0 mt-3 font-weight-bold text-gray-900">Bölüm</h1>
                                <p class="mb-0">{{ file.department }}</p>
                            </div>
                        </div>{% comment "" %}Sol Bölüm Bitiş{% endcomment %}

                        <div class="col-xl-9 col-lg-9">{% comment "" %}Sağ Bölüm Başlangıç{% endcomment %}
                            <div class="bg-white info-header shadow rounded mb-4">{% comment "" %}Sağ Bölüm Üst Bilgi Başlangıç{% endcomment %}
                                <div class="row d-flex align-items-center justify-content-between p-3 border-bottom">
                                    <div class="col-lg-7 m-b-4">
                                        <h3 class="text-gray-900 mb-0 mt-0 font-weight-bold">
                                            {{file.title}}
                                        </h3>
                                        <p class="mb-0 text-gray-800"><small class="text-muted"><i class="fas fa-regular fa-calendar fa-fw fa-sm mr-1"></i>{{file.date}}</small></p>
                                    </div>
                                    <div class="col-lg-5 text-right">
                                        {% if file.user == request.user %}
                                            <a href="{% url 'edit_file' file_slug=file.slug  %}" class="d-sm-inline-block btn btn-success shadow-sm">Düzenle</a>
                                        {% endif %}
                                        <a href="{% url 'download_file' file_slug=file.slug %}" class="d-sm-inline-block btn btn-primary shadow-sm">İndir<i class="fas fa-solid fa-download ml-1"></i></a>
                                        <a href="#" class="d-sm-inline-block btn btn-danger shadow-sm"><i class="fas fa-solid fa-flag"></i></a>                                      
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center justify-content-between py-3 px-4">
                                    <div class="col-lg-6 m-b-4">
                                        <p class="mb-0 text-gray-900"><i class="fas fa-solid fa-book fa-sm fa-fw mr-1"></i> Ders - <span class="text-white rounded px-2 py-1 bg-info">{{file.lesson}}</span></p>
                                    </div>
                                </div>                           
                            </div>{% comment "" %}Sağ Bölüm Üst Bilgi Bitiş{% endcomment %}

                            <div class="bg-white p-3 widget shadow rounded mb-4">{% comment "" %}Sağ Bölüm Alt Bilgi Başlangıç{% endcomment %}
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Açıklama</a>
                                    </li>                           
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Yorumlar</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        {{file.description|safe}}
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <div class="card-body p-0 reviews-card">
                                            {% include "partials/_comment-list.html" %}
                                        </div>
                                        <div class="p-4 bg-light rounded mt-4">
                                            {% include "partials/_add-comment.html" %}

                                        </div>
                                    </div>
                                </div>{% comment "" %}Sağ Bölüm Alt Bilgi Bitiş{% endcomment %}
                            </div>{% comment "" %}Sağ Bölüm Alt Bilgi Bitiş{% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    {% include "partials/_footer.html" %}
{% endblock %}

{% block js_files %}
{% endblock %}
