<div class="bg-white p-3 widget shadow rounded mb-4">
    <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
        <a class="nav-link" href="{% url "file_upload" %}" ><i class="fas fa-solid fa-paperclip fa-sm fa-fw mr-2 text-gray-400"></i> Dosya Yükle</a>
        <a class="nav-link" href="{% url "add_school" %}"><i class="fas fa-solid fa-school fa-sm fa-fw mr-2 text-gray-400"></i> Üniversite Ekle</a>
        <a class="nav-link" href="{% url "add_department" %}"><i class="fas fa-solid fa-graduation-cap fa-fw mr-2 text-gray-400"></i> Bölüm Ekle</a>
        <a class="nav-link" href="{% url "add_lesson" %}"><i class="fas fa-solid fa-graduation-cap fa-fw mr-2 text-gray-400"></i> Ders Ekle</a>
        <a class="nav-link" href="{% url "add_outhor" %}"><i class="fas fa-solid fa-pen-nib fa-fw mr-2 text-gray-400"></i> Yazar Ekle</a>
    </div>
</div>