{% load static %} 

<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "home_page" %}">
        <img src="{% static "Drive/img/BannerLogo.png" %}" alt="" />
    </a>

    <li class="nav-item active">
        <a class="nav-link" href="{% url "files_page" %}">
            <i class="fas fa-fw fa-film"></i>
            <span>Dosyalar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="people.html">
            <i class="fas fa-fw fa-users"></i>
            <span>Dokümanlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "file_upload" %}">
            <i class="fas fa-fw fa-futbol"></i>
            <span>Dosya Yükle</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "ocr_document" %}">
            <i class="fas fa-fw fa-futbol"></i>
            <span>Doküman Tarat</span>
        </a>
    </li>
    <hr class="sidebar-divider" />

    <div class="sidebar-heading">Extra</div>
    <li class="nav-item">
        <a class="nav-link" href="{% url "scholl_list" %}">
            <i class="fas fa-fw fa-fire"></i>
            <span>Üniveriteler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "department_list" %}">
            <i class="fas fa-fw fa-fire"></i>
            <span>Bölümler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "lesson_list" %}">
            <i class="fas fa-fw fa-fire"></i>
            <span>Dersler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "outhor_list" %}">
            <i class="fas fa-fw fa-fire"></i>
            <span>Yazarlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "profile_list" %}">
            <i class="fas fa-fw fa-fire"></i>
            <span>Kullanıcılar</span>
        </a>
    </li>
</ul>